<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153417098895-410l3a1uasii2q3r06b4f07nc1128gj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153417098895-410l3a1uasii2q3r06b4f07nc1128gj4</string>
	<key>API_KEY</key>
	<string>AIzaSyCPXZrvvl72KnJi1xMXmvRhYg5L92GUHS4</string>
	<key>GCM_SENDER_ID</key>
	<string>153417098895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drphealthmdapp.demo</string>
	<key>PROJECT_ID</key>
	<string>go-health-kids</string>
	<key>STORAGE_BUCKET</key>
	<string>go-health-kids.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153417098895:ios:fce281094db9f760</string>
	<key>DATABASE_URL</key>
	<string>https://go-health-kids.firebaseio.com</string>
</dict>
</plist>